{% set blockTitle = block('title') ?? '' %}
<!DOCTYPE html>
<html lang="cs">
<head>
    {% block meta %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% endblock %}
    <title>{{ blockTitle ? blockTitle|raw ~ ' - ' : '' }}Logio</title>
    <meta name="description" content="">
</head>
{% block html_body %}
    <body>
    {% block page_content %}
    {% endblock %}
    </body>
{% endblock %}
</html>